<!DOCTYPE html>
<html>
<head>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/about.css')}}">

    <meta name="viewport" content="width=device-width, initial-scale=1">
 </head>

<body>

    <div class="about-section">
        <h1>About Us</h1>
        <p>This programs purpose is to design a machine learning </p>
        <p> website to detect breast cancer.</p>
    </div>

    <h2 style="text-align:center">Our Team</h2>
    <div class="row">
        <div class="column">
            <div class="card">
                <div class="container">
                    <h2>Student Name 1</h2>
                    <p>
                        u3201489@canberra.edu.au
                    </p>
                    <p><button class="button">Contact</button></p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">

                <div class="container">

                    <p>u3201489@canberra.edu.au</p>
                    <p><button class="button">Contact</button></p>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
<!--#Reference-->
<!--#Author: Unknown-->
<!--#Date: Trimester 1 2023-->
<!--#Title: Program called Heart Disease Predictor Capstone Project-->
<!--#Version 1-->
<!--#Source Code-->
<!--#Template used from https://uclearn.canberra.edu.au/courses/14056/pages/week-10-project-assignment-workshop?module_item_id=1064187-->

